/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-family: Garuda;
    font-size: 16px;
    color:#333333;
    background:#ffffff;
    height: 100%;
}

body {
    height: 100%;
}

header {
    width: 100%;
    height:50px;
    background: #333333;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;

}

header a {
    width: 90px;
    line-height: 50px;
    text-align: center;
    align-self: center;
    background: #333333;
    color:#ffffff;
    text-decoration: none

}

header a.selected {
    background: #FF1E00;
    padding: 5px 0px;
}

div.content {
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    min-height: 400px;
}

div.intro {

    width: 25%;
    height:25%;
    margin: 150px 0px;
    padding: 50px;
    border-top: medium dashed #333333;
    border-bottom: medium dashed #333333;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center
}

article {
    padding: 30px 10px;
}

footer {
    width: 100%;
    height: auto;
    background: #333333;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center
}

footer div {
    flex-basis: 33%;
    height:90%;
    background: #333333;
    color:#ffffff;
    padding: 10px; 10px
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

footer div.center {
    border-left: medium dashed #ffffff;
    border-right: medium dashed #ffffff;
}

img {
    padding: 5px 5px
}

footer li {
margin: 5%; 5%
}

footer a {
color:#FF1E00;
}

form.loginForm {
    width: 450px;
    height: 210px;
    background: url('../image/key-3348307__340.jpg') no-repeat;
    background-position: -60px 20px;
    align-self:center;
   }

h1 {
    font-size: 25px;
    font-weight: bold;
    color:#FF1E00;
    font-family: Garuda;
    margin: 15px 0px
}

h2 {
    font-size: 25px;
    color:#333333;
    font-family: Garuda;


}

input[type=text] {
    padding:5px;
    border:1px solid #333333;
    border-radius: 5px;
}

input[type=password] {
    padding:5px;
    border:1px solid #333333;
    border-radius: 5px;
}


input[type=submit] {
    padding:5px 15px;
    background:#FF1E00;
    color: #ffffff;
    font-weight: bold;
    cursor:pointer;
    border-radius: 5px;
}

button {
    padding:5px 15px;
    background-color:#FF1E00;
    color: #ffffff;
    font-weight: bold;
    cursor:pointer;
    border-radius: 5px;
    text-align: center;

}

textarea{
   padding:5px;
   border:1px solid #333333;
   border-radius: 5px;
}


fieldset {
    padding:25px;
    border:1px solid #333333;
    border-radius: 5px;

}

.loginForm fieldset {
    padding-left: 215px;
    height: 171px;

}

.loginForm label {
    color: #ffffff
}